.category{
    height: 350px;
    width: 350px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);


}
.category img{
    width: 100%;
    object-fit: contain;
    max-height: 250px;
    padding: 0px 10px;
}
.category a{
    text-decoration: none;
    color: rgb(35,35,35);
}
.category h2 ,.category p{
    padding: 5px;
    margin-left: 15px;
}
.category p{
    font-size: 12px;
    font-weight: bold;
    color: rgb(9,132,209);
}
.category_Container{
    position: relative;
    margin-top: -7%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    place-items: center;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    gap: 50px;
}
/* For tablets (up to 1024px) */
/* @media (max-width: 1024px) {
  .category_Container {
    grid-template-columns: repeat(2, 1fr);
  }
} */

/* For medium screens (up to 798px)
@media (max-width: 798px) {
  .category_Container {
    grid-template-columns: 1fr;
  }

  .category {
    width: 90%;
    height: auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    
  }
}

/* For very small screens (mobile) */
/* @media (max-width: 480px) {
  .category {
    width: 100%;
    font-size: 14px;
  } */
